*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
#section1{
  background-color: white;
  min-height: 80px;
}

header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 13px;
  height: 77px;
}
#text-logo{
  width: 120px;
  margin-left: -25px;
  margin-top: 8px;
}
#text-logo h1{
  color: #973131;
  font-size: 32px;
  font-weight: bold;
}
#logo img{
  margin-left: 20px;
  margin-top: 4px;
  width: 120px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
nav ul{
display: flex;
justify-content: flex-end;
align-items: center;
flex-wrap: wrap;
width: 100%;
}
nav ul li{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
margin-left: 40px;
list-style-type: none;
}
nav ul li a{
text-decoration: none;
color: #973131;
font-size: 20px;
font-weight: bold;
}
nav ul li button{
padding: 13px 23px;
color: white;
background-color: #973131;
border: none;
font-weight: bold;
border-radius: 7px;
font-size: 13px;
margin-right: 20px;
cursor: pointer;
}

#section2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 820px;

  background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding: 20px;
    border-top: 2px solid #973131;
  }
  .container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .mainheading{
    justify-content: flex-start;
    margin-top: 150px;
    text-align: center;
    width: 100%;

  }
    .mainheading p{
      font-size: 45px;
      font-weight: bold;
      color: #973131;
      padding: 10px 15px;
      text-align: justify;
    }
    .mainheading #teksti{
      font-weight: lighter;
      font-size: 29px;
      font-family: "Lora", "Georgia", serif;
    }
  .forma{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 480px;
  height: 570px;
  background-color: white;
  backdrop-filter: blur(5px); 
  border-radius: 25px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.8);
  margin-left: 870px;
  margin-top: -300px;
  
  }
  .forma #txt{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #973131;
  }
  .forma input{
  width: 300px;
  height: 50px;
  outline: none;
  background-color: transparent;
  border: 1px solid #973131;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 15px;
  padding-left: 15px;
  }
  .forma input:focus {
    border-color: #973131;
  }
  .forma input::placeholder{
    color: #973131;
    font-size: 14px;
    padding-left: 10px;
  }
  .forma button{
  padding: 10px 90px;
  border-radius: 30px;
  border: 1px solid #973131;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  color: white;
  background-color: #973131;
  margin-top: 15px;
  margin-left: 30px;
  }
  
  .forma button:hover{
  transition: 0.5s ease-in-out;
  background-color:#F5E7B2;
  color: #973131;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #973131;
  }
  #acc{
  margin-bottom: -40px;
  }
  #acc button{
    padding: 5px 70px;
    border-radius: 30px;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    color: #973131;
    background-color: white;
    margin-top: 15px;
    border: none;
    margin-left: 4px;
  }
  #acc button:hover{
  transition: 0.5s ease-in-out;
  font-size: 16px;
  cursor: pointer;
  color: #973131;
 } 
  .section4{
    background-color:  #F5E7B2;
    height: 210px;
    color: #973131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px;
    margin-top: -50px;
}
.logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo img{
    width:150px;
}
.logo h1{
   margin-left: -35px;
   margin-top: 8px;
   font-size: 34px;
}
.links{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   line-height: 22px;
}
.links a{
    text-decoration: none;
    color: #973131;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 9px;
}
.links a:hover{
    font-size: 22px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.links h3{
    font-weight: bold;
    font-size: 28px;
}
.contact{
    font-size: 20px;
    margin-right: 33px;
    text-align: justify;
    line-height: 25px;
}



  
  