*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#section1{
    background-color: white;
    min-height: 80px;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 13px;
    height: 77px;
}

#text-logo{
    width: 120px;
    margin-left: -25px;
    margin-top: 8px;
}
#text-logo h1{
    color: #973131;
    font-size: 32px;
    font-weight: bold;
}
#logo img{
    margin-left: 20px;
    margin-top: 4px;
    width: 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
nav ul li{
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap; */
  margin-left: 40px;
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: #973131;
  font-size: 20px;
  font-weight: bold;
}
nav ul li button{
  padding: 13px 23px;
  color: white;
  background-color: #973131;
  border: none;
  font-weight: bold;
  border-radius: 7px;
  font-size: 13px;
  margin-right: 20px;
  cursor: pointer;
}
#section3{
  max-height: 950px;
  margin-top: 40px;
  border-top: 2px solid #973131;
}
  .main-desc{
  font-weight: bold;
    color: #973131;
    font-size: 35px;
    text-align: center;
    margin-bottom: 80px;
    padding-top: 30px;
}
.desc{
  margin-left: 37px;
  font-weight: bold;
  color: #973131;
  margin-bottom: 40px;
  font-size: 20px;
}
.text{
  width: 780px;
}
#section3 p{
  margin-bottom: 0px;
  margin-left: 40px;
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}
#photoMain{
  position: relative;
  left: 900px;
  bottom: 250px;
  width: 440px;
  height: 690px;
}
#photoMain img{
  border-radius: 15px;
  width: 500px;
  height: 670px;
}
#chefs{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-right:730px;
}
#chefs img{
  width: 230px;
  height: 310px;
  border-radius: 8px;
  margin-top: -600px;
  margin-left: 50px;
}
#section4{
  border-top: 2px solid #973131;
  color: #973131;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
#titulli{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* #titulli h1{
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
} */
#tekst{
  display: flex;
  justify-content: center;
  margin-top: 90px;
  flex-wrap: wrap;
}
#tekst p{
  font-size: 36px;
  font-weight: bold;
}
.foodcontainer{
  display: flex;
  justify-content: center;
  gap: 170px;
  margin-top: 120px;
  flex-wrap: wrap;
}
.foto{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto img{
  width: 300px;
  height: 300px;
  border: 2px solid #973131;
  border-radius: 250px;
}
.foto img:hover{
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}
.foto p{
  margin-top: 30px;
  font-weight: bold;
  font-size: 30px;
}
.butoni{
  display: flex;
  justify-content: center;
  margin-top: 110px;
  flex-wrap: wrap;
}
.butoni button{
  border: none;
  border-radius: 10px;
  padding: 13px 141px;
  background-color: #973131;
  color: #F5E7B2;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}
.butoni button:hover{
  background-color: #F5E7B2;
  border:2px solid #973131;
  color: #973131;
  transition: 0.3s ease-in-out;
}
#section5{
  border-top: 2px solid #973131;
  background-image: url(img/bckk.png);
  /* filter: blur(5px) saturate(0.5);
  opacity: 1; */
  background-size: cover;
  background-repeat: no-repeat;
} 

#txt{
  display: flex;
  text-align: justify;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 21px;
  color: white;
  flex-direction: column;
  height: 350px;
}
#txt p{
  margin-bottom: 17px;
  line-height: 1.3;
  text-align: justify;
  width: 620px;
}
#bullet{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.4;
  
}
#bullet li{
  justify-content: flex-end;
}
/* #imgg{
margin-top: -50px;
}
#imgg img{
  height: 120px;
  width: 310px;
  margin-left: 600px;
  margin-top: -180px;
} */

#section6{
  color: #973131;
  border-top: 2px solid #973131;
  min-height: 300px;
}
.eventsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
#header h1{
  font-size: 50px;
}
#picture{
  margin-left: 800px;
  margin-top: 40px;
}
#picture img{
  width: 450px;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 160px;
}
#picture img:hover{
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}
#eventsDescription{
  margin-top: -530px;
  margin-left: 90px;
  margin-right: 700px;
  line-height: 30px;
  text-align: justify;
}
#eventsDescription p{
  font-size: 17px;
}
#eventsDescription #main-heading{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.section4{
  background-color: #F5E7B2;
  height: 210px;
  color: #973131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-top: 50px;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width:150px;
}
.logo h1{
 margin-left: -35px;
 margin-top: 8px;
 font-size: 34px;
}
.links{
 display: flex;
 flex-direction: column;
 line-height: 22px;
}
.links a{
  text-decoration: none;
  color: #973131;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 9px;
}
.links a:hover{
  font-size: 22px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}
.links h3{
  font-weight: bold;
  font-size: 28px;
}
.contact{
  font-size: 20px;
  margin-right: 33px;
  text-align: justify;
  line-height: 25px;
}
